.home {
  position: relative;
  width: 100%;
  /* Ensure full width */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./../../../public/assets/img/bg.webp');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Darker effect */
  z-index: 1;
}

.home * {
  position: relative;
  z-index: 2;
}

.headers {
  display: inline-flex;
  max-width: max-content;
  margin-left: auto;
  position: absolute;
  color: white;
  text-align: center;
  top: 35vh;
  flex-direction: column;
  align-items: center;
}

.headers h1 {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.headers p {
  font-size: 1.2rem;
}

.button {
  margin-top: 1.15em;
  background: rgba(255, 255, 255, 0.2);
  /* Semi-transparent white */
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* Light border */
  backdrop-filter: blur(10px);
  /* Glass blur effect */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */
  color: white;
  /* Text color */
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  /* Rounded corners */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  /* Soft glow */
}

/* Hover Effect */
.button:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

/* Click Effect */
.button:active {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0.98);
}

.cursor-placeholder {
  display: inline-block;
  width: 2px;
  height: 1em;
  left: 5px;
  vertical-align: text-bottom;
  /* The placeholder is always there, but transparent when not visible */
  background-color: transparent;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor-visible {
  background-color: white;
}