* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hilangkan scrollbar di seluruh halaman */
body {
  overflow: hidden;
}

/* Tetap memungkinkan scroll dengan smooth */
html {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Untuk Chrome, Safari */
html::-webkit-scrollbar {
  display: none;
}
